name: Build and push Docker Images

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log in to the Container registry
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase repository owner
        id: repo_owner
        run: echo "owner=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build and push API Gateway
      - name: Build and push API Gateway
        uses: docker/build-push-action@v5
        with:
          context: ./api-gateway
          file: ./api-gateway/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.repo_owner.outputs.owner }}/sentinel-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Build and push ML Service
      - name: Build and push ML Service
        uses: docker/build-push-action@v5
        with:
          context: ./ml-service
          file: ./ml-service/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.repo_owner.outputs.owner }}/sentinel-ml:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Build and push Frontend
      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.repo_owner.outputs.owner }}/sentinel-front:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max